body {
    background: rgb(229 231 235);
}

form {
    position: relative;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    padding: 0.75rem 2.5rem;
    background: white;
    border: 1px solid rgb(209 213 219);
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    margin-bottom: 100px;

    display: flex;
    flex-flow: column;
    row-gap: 1rem;
}


h1 {
    font-size: 2.25rem !important;
    line-height: 1 !important;
    font-weight: 900 !important;
    margin: 40px 5px 20px 5px !important;
    color: rgb(51 65 85);
}

hr {
    margin: 20px 0 !important;
}


textarea {
    width: 100%;
    min-height: 100px;
    padding: 1rem !important;
    border: 1px solid rgb(209 213 219);
    border-radius: 0.5rem;
    margin-top: 0.5rem !important;
}


button {
    width: fit-content;
    padding: 0.5rem 1.25rem !important;
    border-radius: 0.375rem;
    font-size: 0.875rem !important;
    font-weight: 500 !important;
    color: white !important;
    background: rgb(79 70 229) !important;
    margin: 0.5rem 0 !important;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

button:hover {
    background: rgb(67 56 202) !important;
}

button:active {
    background: rgb(55 48 163) !important;
}


#add-option-btn {
    background: rgb(249 250 251) !important;
    color: rgb(55 65 81) !important;
    border: 1px solid rgb(209 213 219);
}

#add-option-btn:hover {
    background: rgb(243 244 246) !important;
}

#add-option-btn:active {
    background: rgb(229 231 235) !important;
}


select {
    padding: 0.5rem 1.5rem !important;
    border-radius: 0.375rem;
}

.option {
    margin: 1rem 0;
    background: rgb(249 250 251);
    padding: 1rem 1.5rem;
    border: 0.1rem solid rgb(229 231 235);
    border-radius: 0.375rem;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}
